.ck-toolbar .ck-toolbar__items button.ck-custom-tags-div {
  color: #008a00;
}
.ck-toolbar .ck-toolbar__items button.ck-custom-tags-section {
  color: #db3700;
}
.ck-content div {
  border: dashed .5px #008a00;
}
.ck-content section {
  border: dashed .5px #db3700;
}
.ck-content span.special {
  border: dashed .5px #bbb;
}
.ck-content div.special.box,
.ck-content section.special.box {
  border: solid 2px yellowgreen;
  border-radius: 10px;
  padding: var(--ck-spacing-large);
  margin: var(--ck-spacing-large);
  max-width: 100%;
}
.ck-content div.special.box.left,
.ck-content section.special.box.left {
	float: left;
  clear: none;
  margin-left: 0;
}
.ck-content div.special.box.right,
.ck-content section.special.box.right {
	float: right;
  clear: none;
  margin-right: 0;
}
.ck-content div.special.box > h2,
.ck-content section.special.box > h2,
.ck-content div.special.box > h3,
.ck-content section.special.box > h3,
.ck-content div.special.box > h4,
.ck-content section.special.box > h4 {
  margin-top: 10px;
  padding-bottom: var(--ck-spacing-large);
  border-bottom: solid 3px #008a00;
}
.ck-form.ck-custom-tags .ck-form__header {
  text-transform: uppercase;
}
.ck-form.ck-custom-tags .ck-form__row .ck-button .ck-icon {
  margin-right: var(--ck-spacing-large);
}
.ck-form.ck-custom-tags .ck-form__row .ck-input-text {
  min-width: unset;
  width: auto;
}
.ck-form.ck-custom-tags .ck-form__row .ck-dimensions {
  width: 435px;
}
.ck-form.ck-custom-tags .ck-form__row .ck-dimensions > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.ck-form.ck-custom-tags .ck-form__row .ck-dimensions > div > span {
  margin: 0 var(--ck-spacing-standard);
}
.ck-form.ck-custom-tags .ck-form__row .ck-dimensions > div > div > .ck-label {
  font-weight: normal;
}
.ck-form.ck-custom-tags .ck-form__row .ck-dimensions > div > div > .ck-input-text,
.ck-form.ck-custom-tags .ck-form__row.inputs .ck-input-text:first-of-type {
  width: 100px;
}
.ck-form.ck-custom-tags .ck-form__row.inputs .ck-input-text:last-of-type {
  width: 400px;
}
.ck-form.ck-custom-tags .ck-form__row.inputs .ck-button.update {
  color: blue;
}
.ck-form.ck-custom-tags .ck-form__row.buttons {
  padding-top: var(--ck-spacing-large);
}
.ck-form.ck-custom-tags .ck-form__row.buttons .ck-button.ck-button_with-text {
  justify-content: center;
}
