.ck-toolbar .ck-toolbar__items button.ck-custom-tags-div {
  color: #008a00;
}
.ck-toolbar .ck-toolbar__items button.ck-custom-tags-section {
  color: #db3700;
}
.ck-content div {
  border: dashed .5px #008a00;
}
.ck-content section {
  border: dashed .5px #db3700;
}
.ck-content span.special {
  border: dashed .5px #bbb;
}
.ck-custom-tags-view,
.ck-custom-tags-edit {
  margin: 8px !important;
}
.ck-custom-tags-view > section > label,
.ck-custom-tags-edit > section > label {
  margin: 2px 8px 8px !important;
  text-transform: uppercase;
}
.ck-custom-tags-view button .ck-icon {
  margin-right: 12px !important;
}
.ck-custom-tags-edit > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.ck-custom-tags-edit > div > input:first-of-type {
  width: 130px !important;
  min-width: 130px !important;
}
.ck-custom-tags-edit > div > input:last-of-type {
  width: 300px !important;
  min-width: 300px !important;
}
.ck-custom-tags-edit > div:first-of-type > button {
  margin-left: 5px !important;
  color: blue;
}
.ck-custom-tags-edit > div:last-of-type {
  padding: 8px 0;
}
.ck-custom-tags-edit > div:last-of-type > button {
  width: 50% !important;
  margin: 15px 5px 5px !important;
  display: inline-block !important;
}
.ck-custom-tags-edit > div:last-of-type > button:first-of-type {
  color: #008a00;
}
.ck-custom-tags-edit > div:last-of-type > button:last-of-type {
  color: #db3700;
}
